extends base

block content
  main.main
    .card-container

      each review in reviews
        .card 
          div(id= `${review.id}-modal`).review-form__modal.hidden
            form.form.form--edit-review
              span.close-modal &times;
              h2.heading-secondary.ma-bt-lg= `Edit review: ${review.tour.name}!`
              .form__group
                label.form__label(for='review') Your Review:
                textarea#review-dummy.form__input.form__input--hidden
                textarea.form__input.form__input--review(name='review', id=`${review.id}-review`)= review.review
      
              .form__group.reviews__rating
                label.form__label(for='review') Your Rating: 
                input.form__input.form__input--rating(type='number', id=`${review.id}-rating` placeholder='Enter a value between 1 and 5' value=`${review.rating}`, required)
              .form__group
                button.btn.btn--green Submit Changes

          .card__header 
            .card__picture 
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`img/tours/${review.tour.imageCover}` alt=`${review.tour.name}`)
            h3.heading-tertiary
              span= review.tour.name

          .card__details 
            h4.card__sub-heading= `Your review:`
            p.card__text.review= review.review

          .card__footer
            p 
              span.card__footer-value= `Your rating:`
              | 
              .reviews__rating
                each star in [1,2,3,4,5]
                  svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')
            p.card__ratings 
              span.card__footer-value Review date:
            p.card__ratings
              span.card__footer-text= `${new Intl.DateTimeFormat('en-US', {month: 'short', day: 'numeric', year:'numeric'}).format(review.createdAt)}`
            a(id= `${review.id}`).btn.btn--green.btn--small.btn--edit Edit Review

